.form-group{
    padding: 20px;
}

.form-field-label, .form-field{
    font-family: "Courier New";
    padding: 5px;
}


.form-submit{
    padding: 10px;
    font-family: "Courier New";
}

.form-register{
    font-family:"Courier New";
    color: dimgray;
    text-align: center;
}

.form-container{
    margin-top: 50px;
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
}

body{
    background: url("../images/wallpaper.jpg");;
}
