.recommendation{
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.movie_gist{
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 3px;
    height: 400px;
    margin: 15px;
}

.caption{
    font-family: 'Courier New';
}

.related-movies{
    border-radius: 5px;
    padding: 1px;
    margin: 5px;
    font-family: "Courier New";
}

.movie_details{
    padding: 10px;
    margin: 5px;
}

.navbar{
    font-family: "Courier New";

}

.genre{
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}


.movie_description{
    background-color: whitesmoke;
    border-radius: 3px;
    font-family: "Courier New";
    font-size: medium;
    height: 400px;
    margin: 25px;
    padding-top: 20px;
    margin-top: 15px;

}

.movie_row{
    padding:10px;
}

body{
    background: darkgray;
}
