body{
    background: url("../images/wallpaper.jpg");
    font-family: "Courier New";
}

.movie_gist{
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 3px;
    margin: 15px;
    height: 400px;
}

.recommendation{
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.related-movies{
}

